.hero {
  background: url('./../img/coffee-banner.jpg');
  height: 280px;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 10px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

.categorias {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: -3rem 0 1rem;
}

.btn-calientes, .btn-frias, .btn-postre {
  background-color: #6B4423;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn-calientes:hover,
.btn-frias:hover,
.btn-postre:hover {
  background-color: #ff6f00;
  transform: scale(1.05);
}

.btn-categoria-activa {
  background-color: #ff6f00 !important;
  color: #ffffff !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.grid-bebidas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
   margin-bottom: 6rem;
}

@media (min-width: 640px) {
  .grid-bebidas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-bebidas {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 380px;
  min-height: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 130px;
  height: 130px;
  object-fit: contain;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
  background-color: #fff8f0;
  padding: 9px;
  box-shadow: 0 3px 8px rgba(107, 68, 35, 0.25);
  transition: transform 0.3s ease;
}

.card img.card-image-dessert {
  border: 9px solid #fff8f0;
  background-color: #1C3B32;
  padding: 0;
}

.card img:hover { 
  transform: scale(1.05);
}

.card-content {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-content h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.card-content p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.btn-seleccionar {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #6B4423;
  color: white;
  border: none;
  border-radius: 9999px;
  text-decoration: none;
  text-align: center;
}

.btn-seleccionar:hover {
  transform: scale(1.1);
  background-color: #ff6f00;
  transition: transform 0.3s ease;
}
